{{logrotten_webdirectory}}/log/*.log {{logrotten_webdirectory}}/log/*/*.log {
    daily
    missingok
    rotate 14
    compress
    delaycompress
    notifempty
    create 660 root www-data
    sharedscripts
    prerotate
	if [ -d /etc/logrotate.d/httpd-prerotate ]; then
	    run-parts /etc/logrotate.d/httpd-prerotate
	fi
    endscript
    postrotate
	if pgrep -f ^/usr/sbin/apache2 > /dev/null; then
    rotate 50
	fi
    endscript
}
